@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  color: #3C403D;
  background-color: #DADED4; 
}

.PokeDiv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin-left: 100px;

}

.PokeEl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 2px;
  width: 30%;
  border:#3C403D .5px dashed;
  border-radius: 20%;
}

.Stats {
  display: flex;
  justify-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #3C403D;
  border-radius: 35px;
}

.Stats >p {
  color: #DADED4;
  font-size: 25%;
  margin-top:0px;
  width: max-content;
  padding: 12px;
}


img {
  height: 12rem;
  padding:20px;
  border-radius: 60px;
}

.App {
  text-align: center;
}

