@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  color: #3C403D;
  background-color: #DADED4; 
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 2rem;
}

.PokeGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.SearchSort {
  margin-top: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  align-content: space-around;
}

.Sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.PokeDiv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin-left: 20px;
  margin-top: 20px;
}

.PokeEl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 40px;
  width: min-content;
  /* border:#3C403D .5px dashed; */
  border: 1px solid black;
  box-shadow:
  0 0 50px #fff,
  -10px 0 40px rgb(255, 51, 0),
  10px 0 40px #0ff;
  border-radius: 20%;
}
/* /////////////////////////// */
/* glowing effect based on https://codersblock.com/blog/creating-glow-effects-with-css/ */


.Stats {
  display: flex;
  justify-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #3C403D;
  border-radius: 35px;
  
}

p {
  color: #DADED4;
  background-color: #3C403D;
  font-size: 30%;
  /* margin-top:0px;
  margin-bottom: 0px; */
  width: 12rem;
  margin: 15px;
  border-radius: 35px;
  padding: 12px;
  line-height: 200%;
}

h2 {
  font-size: 1rem;
  margin-bottom: 25px;
}


img {
  height: 12rem;
  padding:20px;
  border-radius: 60px
}

.App {
  text-align: center;
}

